<%= form_tag 'all_records' do %>
<table>
<tr>
<td>
name
</td>
<td>
<%= text_field_tag :name %>
</td>
</tr>
<tr>
<td>
Score
</td>
<td>
<%= text_field_tag :score %>
</td>
</tr>
<tr>
<td>
date
</td>
<td>
<%= text_field_tag :date %>
</td>
</tr>
<tr>
<td>
level
</td>
<td>
<%= text_field_tag :level %>
</td>
</tr>
<tr>
<td>
level_points
</td>
<td>
<%= text_field_tag :level_points %>
</td>
</tr>
<tr>
<td>
Rank
</td>
<td>
<%= text_field_tag :rank %>
</td>
</tr>
</table>
<%= submit_tag %>

<% end %>