<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <% @name = @user.name %>
  <%= @user.name %>
</p>

<p>
  <b>Score:</b>
  <% @score = @user.score %>
  <%= @user.score %>
</p>

<p>
  <b>Date:</b>
  <% @date = @user.date %>
  <%= @user.date %>
</p>

<h2>Total Games</h2>
<% @user.games.each do |game| %>
  <p>
    <b>Level:</b>
    <%= game.level %>
  </p>
 
  <p>
    <b>Level Points:</b>
    <%= game.level_points %>
  </p>
   <p>
    <b>Rank:</b>
    <%= game.rank %>
  </p>
  
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
